<div class="px-2">
    <a href="https://mybinder.org/v2/gh/{{site.github_env_username}}/nblauncher/{{ site.github_env_branch }}?urlpath={{'git-pull?repo=https://github.com' | url_encode }}%2F{{ site.github_username }}%2F{{ site.github_repo }}{{ '&urlpath=lab/tree' | url_encode }}%2F{{ site.github_repo }}%2F{{page.nb_path | url_encode }}{{ '&branch=' | url_encode }}{{ site.github_branch }}" target="_blank">
        <img class="notebook-badge-image" src="{{ "assets/badges/binder.svg" | relative_url }}" alt="Open In Binder"/>
    </a>
</div>
